<a href="https://colab.research.google.com/github/Toeysamm/2-64-NIDA-DADS5001/blob/main/5001week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Create DataFrame**

In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)
print(type(s))

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
<class 'pandas.core.series.Series'>

In [3]:
dates = pd.date_range("20130101", periods=6)
print(dates)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2013-01-01  0.502622  1.387462 -0.351688 -0.499526
2013-01-02 -0.181330  1.091906 -0.570675 -1.312059
2013-01-03  0.364615 -1.044305 -0.315385 -0.132172
2013-01-04 -1.055062  1.408319  0.291380  0.297281
2013-01-05  0.788515  0.533225  0.257476 -0.780708
2013-01-06 -1.770764  0.518937  0.355298 -1.011335

In [4]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)


df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [5]:
[3] * 4

[3, 3, 3, 3]

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

**2. Viewing Data**

In [7]:
print(df)

                   A         B         C         D
2013-01-01  0.502622  1.387462 -0.351688 -0.499526
2013-01-02 -0.181330  1.091906 -0.570675 -1.312059
2013-01-03  0.364615 -1.044305 -0.315385 -0.132172
2013-01-04 -1.055062  1.408319  0.291380  0.297281
2013-01-05  0.788515  0.533225  0.257476 -0.780708
2013-01-06 -1.770764  0.518937  0.355298 -1.011335

In [8]:
df.head()

                   A         B         C         D
2013-01-01  0.502622  1.387462 -0.351688 -0.499526
2013-01-02 -0.181330  1.091906 -0.570675 -1.312059
2013-01-03  0.364615 -1.044305 -0.315385 -0.132172
2013-01-04 -1.055062  1.408319  0.291380  0.297281
2013-01-05  0.788515  0.533225  0.257476 -0.780708

In [9]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.055062  1.408319  0.291380  0.297281
2013-01-05  0.788515  0.533225  0.257476 -0.780708
2013-01-06 -1.770764  0.518937  0.355298 -1.011335

In [10]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.225234  0.649257 -0.055599 -0.573087
std    0.998458  0.918222  0.401922  0.589679
min   -1.770764 -1.044305 -0.570675 -1.312059
25%   -0.836629  0.522509 -0.342612 -0.953679
50%    0.091643  0.812565 -0.028955 -0.640117
75%    0.468120  1.313573  0.282904 -0.224010
max    0.788515  1.408319  0.355298  0.297281

In [13]:
df

                   A         B         C         D
2013-01-01  0.502622  1.387462 -0.351688 -0.499526
2013-01-02 -0.181330  1.091906 -0.570675 -1.312059
2013-01-03  0.364615 -1.044305 -0.315385 -0.132172
2013-01-04 -1.055062  1.408319  0.291380  0.297281
2013-01-05  0.788515  0.533225  0.257476 -0.780708
2013-01-06 -1.770764  0.518937  0.355298 -1.011335

In [14]:
df.sort_index(axis=0, ascending=False) #sort index by max to min that rows (06 --> 01) // ascending=True is min to max and ascending=False is max to min

                   A         B         C         D
2013-01-06 -1.770764  0.518937  0.355298 -1.011335
2013-01-05  0.788515  0.533225  0.257476 -0.780708
2013-01-04 -1.055062  1.408319  0.291380  0.297281
2013-01-03  0.364615 -1.044305 -0.315385 -0.132172
2013-01-02 -0.181330  1.091906 -0.570675 -1.312059
2013-01-01  0.502622  1.387462 -0.351688 -0.499526

In [15]:
df.sort_index(axis=1, ascending=False) #sort index by max to min that columns (D --> A) // ascending=True is min to max and ascending=False is max to min

                   D         C         B         A
2013-01-01 -0.499526 -0.351688  1.387462  0.502622
2013-01-02 -1.312059 -0.570675  1.091906 -0.181330
2013-01-03 -0.132172 -0.315385 -1.044305  0.364615
2013-01-04  0.297281  0.291380  1.408319 -1.055062
2013-01-05 -0.780708  0.257476  0.533225  0.788515
2013-01-06 -1.011335  0.355298  0.518937 -1.770764

In [16]:
df.sort_values(by="B") # sort value is defult min to max and you can defult

                   A         B         C         D
2013-01-03  0.364615 -1.044305 -0.315385 -0.132172
2013-01-06 -1.770764  0.518937  0.355298 -1.011335
2013-01-05  0.788515  0.533225  0.257476 -0.780708
2013-01-02 -0.181330  1.091906 -0.570675 -1.312059
2013-01-01  0.502622  1.387462 -0.351688 -0.499526
2013-01-04 -1.055062  1.408319  0.291380  0.297281

**3. Selecting**

**3.1 Getting**

In [17]:
df.A

2013-01-01    0.502622
2013-01-02   -0.181330
2013-01-03    0.364615
2013-01-04   -1.055062
2013-01-05    0.788515
2013-01-06   -1.770764
Freq: D, Name: A, dtype: float64

In [18]:
df["A"]

2013-01-01    0.502622
2013-01-02   -0.181330
2013-01-03    0.364615
2013-01-04   -1.055062
2013-01-05    0.788515
2013-01-06   -1.770764
Freq: D, Name: A, dtype: float64

In [19]:
df[0:3]

                   A         B         C         D
2013-01-01  0.502622  1.387462 -0.351688 -0.499526
2013-01-02 -0.181330  1.091906 -0.570675 -1.312059
2013-01-03  0.364615 -1.044305 -0.315385 -0.132172

In [20]:
df["20130102":"20130104"]

                   A         B         C         D
2013-01-02 -0.181330  1.091906 -0.570675 -1.312059
2013-01-03  0.364615 -1.044305 -0.315385 -0.132172
2013-01-04 -1.055062  1.408319  0.291380  0.297281

**3.2 by label**

In [25]:
df

                   A         B         C         D
2013-01-01  0.502622  1.387462 -0.351688 -0.499526
2013-01-02 -0.181330  1.091906 -0.570675 -1.312059
2013-01-03  0.364615 -1.044305 -0.315385 -0.132172
2013-01-04 -1.055062  1.408319  0.291380  0.297281
2013-01-05  0.788515  0.533225  0.257476 -0.780708
2013-01-06 -1.770764  0.518937  0.355298 -1.011335

In [21]:
df.loc[dates[0]]

A    0.502622
B    1.387462
C   -0.351688
D   -0.499526
Name: 2013-01-01 00:00:00, dtype: float64

In [22]:
df.loc[:, ["A", "B"]]

                   A         B
2013-01-01  0.502622  1.387462
2013-01-02 -0.181330  1.091906
2013-01-03  0.364615 -1.044305
2013-01-04 -1.055062  1.408319
2013-01-05  0.788515  0.533225
2013-01-06 -1.770764  0.518937

In [23]:
df.loc["20130102":"20130104", ["A", "B"]]

                   A         B
2013-01-02 -0.181330  1.091906
2013-01-03  0.364615 -1.044305
2013-01-04 -1.055062  1.408319

In [24]:
df.loc["20130102", ["A", "B"]]

A   -0.181330
B    1.091906
Name: 2013-01-02 00:00:00, dtype: float64

In [26]:
df.loc[dates[0], "A"]

0.5026222433472444

In [27]:
df.at[dates[0], "A"]

0.5026222433472444

**3.3 by position**

In [28]:
df

                   A         B         C         D
2013-01-01  0.502622  1.387462 -0.351688 -0.499526
2013-01-02 -0.181330  1.091906 -0.570675 -1.312059
2013-01-03  0.364615 -1.044305 -0.315385 -0.132172
2013-01-04 -1.055062  1.408319  0.291380  0.297281
2013-01-05  0.788515  0.533225  0.257476 -0.780708
2013-01-06 -1.770764  0.518937  0.355298 -1.011335

In [29]:
df.iloc[3]

A   -1.055062
B    1.408319
C    0.291380
D    0.297281
Name: 2013-01-04 00:00:00, dtype: float64

In [30]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -1.055062  1.408319
2013-01-05  0.788515  0.533225

In [31]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2013-01-02 -0.181330 -0.570675
2013-01-03  0.364615 -0.315385
2013-01-05  0.788515  0.257476

In [32]:
df.iloc[1:3, :]

                   A         B         C         D
2013-01-02 -0.181330  1.091906 -0.570675 -1.312059
2013-01-03  0.364615 -1.044305 -0.315385 -0.132172

In [33]:
df.iloc[:, 1:3]

                   B         C
2013-01-01  1.387462 -0.351688
2013-01-02  1.091906 -0.570675
2013-01-03 -1.044305 -0.315385
2013-01-04  1.408319  0.291380
2013-01-05  0.533225  0.257476
2013-01-06  0.518937  0.355298

In [34]:
df.iloc[1, 1]

1.0919059648401666

In [35]:
df.iat[1, 1]

1.0919059648401666

**3.4 Boolean indexing**

In [37]:
df

                   A         B         C         D
2013-01-01  0.502622  1.387462 -0.351688 -0.499526
2013-01-02 -0.181330  1.091906 -0.570675 -1.312059
2013-01-03  0.364615 -1.044305 -0.315385 -0.132172
2013-01-04 -1.055062  1.408319  0.291380  0.297281
2013-01-05  0.788515  0.533225  0.257476 -0.780708
2013-01-06 -1.770764  0.518937  0.355298 -1.011335

In [36]:
df[df["A"] > 0]

                   A         B         C         D
2013-01-01  0.502622  1.387462 -0.351688 -0.499526
2013-01-03  0.364615 -1.044305 -0.315385 -0.132172
2013-01-05  0.788515  0.533225  0.257476 -0.780708

In [38]:
df > 0

                A      B      C      D
2013-01-01   True   True  False  False
2013-01-02  False   True  False  False
2013-01-03   True  False  False  False
2013-01-04  False   True   True   True
2013-01-05   True   True   True  False
2013-01-06  False   True   True  False

In [39]:
df[df > 0]

                   A         B         C         D
2013-01-01  0.502622  1.387462       NaN       NaN
2013-01-02       NaN  1.091906       NaN       NaN
2013-01-03  0.364615       NaN       NaN       NaN
2013-01-04       NaN  1.408319  0.291380  0.297281
2013-01-05  0.788515  0.533225  0.257476       NaN
2013-01-06       NaN  0.518937  0.355298       NaN

In [40]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"]
df2

                   A         B         C         D      E
2013-01-01  0.502622  1.387462 -0.351688 -0.499526    one
2013-01-02 -0.181330  1.091906 -0.570675 -1.312059    one
2013-01-03  0.364615 -1.044305 -0.315385 -0.132172    two
2013-01-04 -1.055062  1.408319  0.291380  0.297281  three
2013-01-05  0.788515  0.533225  0.257476 -0.780708   four
2013-01-06 -1.770764  0.518937  0.355298 -1.011335  three

**Grouping**

In [41]:
df3 = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)


df3

     A      B         C         D
0  foo    one  0.054282  1.137454
1  bar    one  1.895796 -2.176163
2  foo    two -0.419052  0.884911
3  bar  three  0.821985  2.016557
4  foo    two  0.111883  0.778495
5  bar    two -0.945401  0.965972
6  foo    one -0.824752 -0.242904
7  foo  three -0.219681  0.408671

In [42]:
df3.groupby("A").sum()

           C         D
A
bar  1.77238  0.806366
foo -1.29732  2.966626

In [46]:
df3.groupby(["A", "B"]).sum()

                  C         D
A   B
bar one    1.895796 -2.176163
    three  0.821985  2.016557
    two   -0.945401  0.965972
foo one   -0.770470  0.894550
    three -0.219681  0.408671
    two   -0.307169  1.663406