<a href="https://colab.research.google.com/github/Toeysamm/2-64-NIDA-DADS5001/blob/main/Covid19_midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

###เริ่มต้นทำการ import data ดิฉันเลือกใช้ ข้อมูล Covid19 ตามประกาศในปี 2021

In [17]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = 999

import data file ที่ 1 ได้แก่ Data ของ Covid19 ตามประกาศตั้งแต่วันที่ 1 มกราคม 2021 - 11 สิงหาคม 2021

In [18]:
url1 = 'https://docs.google.com/spreadsheets/d/1EMYpn7YhbSKf02SUR2QTUPThjYwT2TvS/edit?usp=sharing&ouid=109060731963179648304&rtpof=true&sd=true'
path1 = 'https://drive.google.com/uc?export=download&id='+url1.split('/')[-2]
df1 = pd.read_excel(path1)
df1.head()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
0,6886,2021-01-01,มกราคม,2020-12-31,หญิง,40.0,40.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,Cluster สมุทรสาคร,ติดเชื้อมาจากสถานที่ทำงาน,ปทุมธานี,ปริมณฑล,คลองหลวง
1,6887,2021-01-01,มกราคม,2020-12-31,หญิง,21.0,21.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,ปทุมธานี,ปริมณฑล,Cluster ระยอง,ติดเชื้อมาจากสถานที่ชุมชน,ปทุมธานี,ปริมณฑล,คลองหลวง
2,6888,2021-01-01,มกราคม,2020-12-31,หญิง,20.0,20.0,วัยรุ่น,ปี,ปี,Thailand,ไทย,นครปฐม,ปริมณฑล,สถานบันเทิง,ติดเชื้อมาจากสถานบันเทิง,นครปฐม,ปริมณฑล,สามพราน
3,6889,2021-01-01,มกราคม,2020-12-31,หญิง,47.0,47.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,สมุทรสาคร,ปริมณฑล,Cluster สมุทรสาคร,ติดเชื้อมาจากสถานที่ทำงาน,นครปฐม,ปริมณฑล,สามพราน
4,6890,2021-01-01,มกราคม,2020-12-31,หญิง,36.0,36.0,วัยผู้ใหญ่,ปี,ปี,Cambodia,ต่างชาติ,ปทุมธานี,ปริมณฑล,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,อาชีพเสี่ยง,กรุงเทพมหานคร,กรุงเทพมหานคร,สายไหม

In [19]:
df1.tail()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
810099,816985,2021-08-11,สิงหาคม,2021-08-10,หญิง,8.0,8.0,วัยเด็ก,ปี,ปี,Thailand,ไทย,สระแก้ว,ภาคตะวันออก,อยู่ระหว่างการสอบสวน,อื่นๆ,สระแก้ว,ภาคตะวันออก,ตาพระยา
810100,816986,2021-08-11,สิงหาคม,2021-08-10,ชาย,14.0,14.0,วัยรุ่น,ปี,ปี,Thailand,ไทย,สระแก้ว,ภาคตะวันออก,อยู่ระหว่างการสอบสวน,อื่นๆ,สระแก้ว,ภาคตะวันออก,ตาพระยา
810101,816987,2021-08-11,สิงหาคม,2021-08-10,ชาย,59.0,59.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,สระแก้ว,ภาคตะวันออก,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,อาชีพเสี่ยง,สระแก้ว,ภาคตะวันออก,อรัญประเทศ
810102,816988,2021-08-11,สิงหาคม,2021-08-10,หญิง,34.0,34.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,สระแก้ว,ภาคตะวันออก,อื่นๆ,อื่นๆ,กรุงเทพมหานคร,กรุงเทพมหานคร,บางขุนเทียน
810103,816989,2021-08-11,สิงหาคม,2021-08-10,หญิง,19.0,19.0,วัยรุ่น,ปี,ปี,Thailand,ไทย,สระแก้ว,ภาคตะวันออก,อื่นๆ,อื่นๆ,พระนครศรีอยุธยา,ภาคกลาง,อุทัย

import data file ที่ 2 ได้แก่ Data ของ Covid19 ตามประกาศตั้งแต่วันที่ 12 สิงหาคม 2021 - 25 ตุลาคม 2021

In [20]:
url2 = 'https://docs.google.com/spreadsheets/d/1lG77JQt2XL5OS9crDTChJ2glG-ZEKkXZ/edit?usp=sharing&ouid=109060731963179648304&rtpof=true&sd=true'
path2 = 'https://drive.google.com/uc?export=download&id='+url2.split('/')[-2]
df2 = pd.read_excel(path2)
df2.head()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
0,816990,2021-08-12,สิงหาคม,2021-08-11,ชาย,7.0,7.0,วัยเด็ก,ปี,ปี,Thailand,ไทย,เชียงราย,ภาคเหนือ,อื่นๆ,อื่นๆ,เชียงราย,ภาคเหนือ,NaN
1,816991,2021-08-12,สิงหาคม,2021-08-11,ชาย,1.0,1.0,วัยทารก,ปี,ปี,Thailand,ไทย,เชียงราย,ภาคเหนือ,อื่นๆ,อื่นๆ,เชียงราย,ภาคเหนือ,NaN
2,816992,2021-08-12,สิงหาคม,2021-08-11,ชาย,35.0,35.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,เชียงราย,ภาคเหนือ,อื่นๆ,อื่นๆ,เชียงราย,ภาคเหนือ,NaN
3,816993,2021-08-12,สิงหาคม,2021-08-11,หญิง,33.0,33.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,เชียงราย,ภาคเหนือ,อื่นๆ,อื่นๆ,เชียงราย,ภาคเหนือ,NaN
4,816994,2021-08-12,สิงหาคม,2021-08-11,หญิง,14.0,14.0,วัยรุ่น,ปี,ปี,Thailand,ไทย,เชียงราย,ภาคเหนือ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สัมผัสใกล้ชิดผู้ติดเชื้อ,เชียงราย,ภาคเหนือ,NaN

In [21]:
df2.tail()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
1042163,1859153,2021-10-25,ตุลาคม,2021-10-24,ชาย,45.0,45.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042164,1859154,2021-10-25,ตุลาคม,2021-10-24,ชาย,31.0,31.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042165,1859155,2021-10-25,ตุลาคม,2021-10-24,ชาย,31.0,31.0,วัยผู้ใหญ่,ปี,ปี,NaN,ต่างชาติ,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042166,1859156,2021-10-25,ตุลาคม,2021-10-24,ชาย,24.0,24.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042167,1859157,2021-10-25,ตุลาคม,2021-10-24,ชาย,25.0,25.0,วัยผู้ใหญ่,ปี,ปี,NaN,ต่างชาติ,เชียงใหม่,ภาคเหนือ,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,เชียงใหม่,ภาคเหนือ,NaN

In [16]:
##เอาๆๆ  df2.groupby(by=["announce_month","group_risk"]).announce_date.count().to_frame()

                                                announce_date
announce_month group_risk
กันยายน        ค้นหาผู้ป่วยเชิงรุก                      34329
               ตรวจก่อนทำหัตถการ                          952
               ติดเชื้อมาจากพิธีกรรมทางศาสนา                3
               ติดเชื้อมาจากสถานที่ชุมชน                 5554
               ติดเชื้อมาจากสถานที่ทำงาน                13295
               ติดเชื้อมาจากสถานที่แออัด                  272
               ติดเชื้อมาจากสถานบันเทิง                     2
               ทัณฑสถาน/เรือนจำ                         11608
               บุคลากรด้านการแพทย์และสาธารณสุข           1507
               ปอดอักเสบ (Pneumonia)                      238
               สัมผัสใกล้ชิดผู้ติดเชื้อ                188475
               อาชีพเสี่ยง                                240
               อื่นๆ                                   141921
               เดินทางมาจากต่างประเทศ                     350
ตุลาคม         ค้นหาผู้ป่วยเชิงรุก                      16245
               ตรวจก่อนทำหัตถการ                          618
               ติดเชื้อมาจากพิธีกรรมทางศาสนา              390
               ติดเชื้อมาจากสถานที่ชุมชน                 6268
               ติดเชื้อมาจากสถานที่ทำงาน                 6275
               ติดเชื้อมาจากสถานที่แออัด                   83
               ติดเชื้อมาจากสถานบันเทิง                    15
               ติดเชื้อมาจากสถานศึกษา                      32
               ทัณฑสถาน/เรือนจำ                          3470
               บุคลากรด้านการแพทย์และสาธารณสุข            903
               ปอดอักเสบ (Pneumonia)                       34
               สัมผัสใกล้ชิดผู้ติดเชื้อ                130866
               อาชีพเสี่ยง                                240
               อื่นๆ                                    89767
               เดินทางมาจากต่างประเทศ                     473
               เดินทางมาจากพื้นที่เสี่ยง                    3
สิงหาคม        ค้นหาผู้ป่วยเชิงรุก                      49261
               ตรวจก่อนทำหัตถการ                          456
               ติดเชื้อมาจากสถานที่ชุมชน                 4182
               ติดเชื้อมาจากสถานที่ทำงาน                 7771
               ติดเชื้อมาจากสถานที่แออัด                  106
               ติดเชื้อมาจากสถานบันเทิง                     2
               ทัณฑสถาน/เรือนจำ                          5813
               บุคลากรด้านการแพทย์และสาธารณสุข           1805
               ปอดอักเสบ (Pneumonia)                      214
               สัมผัสใกล้ชิดผู้ติดเชื้อ                155561
               อาชีพเสี่ยง                                576
               อื่นๆ                                   161800
               เดินทางมาจากต่างประเทศ                     191
               เดินทางมาจากพื้นที่เสี่ยง                    2

import data file ที่ 3 ได้แก่ Data ของ Covid19 ตามประกาศตั้งแต่วันที่ 26 ตุลาคม 2021 - 31 ธันวาคม 2021

In [ ]:
url3 = 'https://docs.google.com/spreadsheets/d/1ykQlKD64pufk82RQGpku3K6B382-lJoA/edit?usp=sharing&ouid=109060731963179648304&rtpof=true&sd=true'
path3 = 'https://drive.google.com/uc?export=download&id='+url3.split('/')[-2]
df3 = pd.read_excel(path3)
df3.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง

In [ ]:
df3.tail()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
364273,2223431,2021-12-31,2021-12-30,หญิง,NaN,NaN,NaN,ระนอง,ทัณฑสถาน/เรือนจำ,ระนอง,NaN
364274,2223432,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,สตูล,ทัณฑสถาน/เรือนจำ,สตูล,NaN
364275,2223433,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,ปทุมธานี,NaN
364276,2223434,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
364277,2223435,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN

ตรวจสอบ shape ของแต่ data ที่ import เข้ามา

In [22]:
print(df1.shape)
print(df2.shape)
#print(df3.shape)

(810104, 19)
(1042168, 19)

ทำการรวมทั้ง 3 file (3 DataFrame) เข้าเป็น 1 DataFrame

In [23]:
df4 = df1.append(df2)
df4.tail()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
1042163,1859153,2021-10-25,ตุลาคม,2021-10-24,ชาย,45.0,45.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042164,1859154,2021-10-25,ตุลาคม,2021-10-24,ชาย,31.0,31.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042165,1859155,2021-10-25,ตุลาคม,2021-10-24,ชาย,31.0,31.0,วัยผู้ใหญ่,ปี,ปี,NaN,ต่างชาติ,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042166,1859156,2021-10-25,ตุลาคม,2021-10-24,ชาย,24.0,24.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042167,1859157,2021-10-25,ตุลาคม,2021-10-24,ชาย,25.0,25.0,วัยผู้ใหญ่,ปี,ปี,NaN,ต่างชาติ,เชียงใหม่,ภาคเหนือ,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,เชียงใหม่,ภาคเหนือ,NaN

In [24]:
df4.head()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
0,6886,2021-01-01,มกราคม,2020-12-31,หญิง,40.0,40.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,Cluster สมุทรสาคร,ติดเชื้อมาจากสถานที่ทำงาน,ปทุมธานี,ปริมณฑล,คลองหลวง
1,6887,2021-01-01,มกราคม,2020-12-31,หญิง,21.0,21.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,ปทุมธานี,ปริมณฑล,Cluster ระยอง,ติดเชื้อมาจากสถานที่ชุมชน,ปทุมธานี,ปริมณฑล,คลองหลวง
2,6888,2021-01-01,มกราคม,2020-12-31,หญิง,20.0,20.0,วัยรุ่น,ปี,ปี,Thailand,ไทย,นครปฐม,ปริมณฑล,สถานบันเทิง,ติดเชื้อมาจากสถานบันเทิง,นครปฐม,ปริมณฑล,สามพราน
3,6889,2021-01-01,มกราคม,2020-12-31,หญิง,47.0,47.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,สมุทรสาคร,ปริมณฑล,Cluster สมุทรสาคร,ติดเชื้อมาจากสถานที่ทำงาน,นครปฐม,ปริมณฑล,สามพราน
4,6890,2021-01-01,มกราคม,2020-12-31,หญิง,36.0,36.0,วัยผู้ใหญ่,ปี,ปี,Cambodia,ต่างชาติ,ปทุมธานี,ปริมณฑล,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,อาชีพเสี่ยง,กรุงเทพมหานคร,กรุงเทพมหานคร,สายไหม

In [32]:
pd.options.display.max_rows = 999
df4.groupby(by=["announce_month","group_risk"]).announce_date.count().to_frame()

                                                announce_date
announce_month group_risk
กรกฎาคม        ค้นหาผู้ป่วยเชิงรุก                      66582
               ตรวจก่อนทำหัตถการ                          476
               ติดเชื้อมาจากพิธีกรรมทางศาสนา                2
               ติดเชื้อมาจากสถานที่ชุมชน                 5781
               ติดเชื้อมาจากสถานที่ทำงาน                 7926
               ติดเชื้อมาจากสถานที่แออัด                  341
               ติดเชื้อมาจากสถานบันเทิง                     1
               ทัณฑสถาน/เรือนจำ                         10785
               บุคลากรด้านการแพทย์และสาธารณสุข           1506
               ปอดอักเสบ (Pneumonia)                      399
               สัมผัสใกล้ชิดผู้ติดเชื้อ                128568
               อาชีพเสี่ยง                                495
               อื่นๆ                                   114639
               เดินทางมาจากต่างประเทศ                     478
               เดินทางมาจากพื้นที่เสี่ยง                    7
กันยายน        ค้นหาผู้ป่วยเชิงรุก                      34329
               ตรวจก่อนทำหัตถการ                          952
               ติดเชื้อมาจากพิธีกรรมทางศาสนา                3
               ติดเชื้อมาจากสถานที่ชุมชน                 5554
               ติดเชื้อมาจากสถานที่ทำงาน                13295
               ติดเชื้อมาจากสถานที่แออัด                  272
               ติดเชื้อมาจากสถานบันเทิง                     2
               ทัณฑสถาน/เรือนจำ                         11608
               บุคลากรด้านการแพทย์และสาธารณสุข           1507
               ปอดอักเสบ (Pneumonia)                      238
               สัมผัสใกล้ชิดผู้ติดเชื้อ                188475
               อาชีพเสี่ยง                                240
               อื่นๆ                                   141921
               เดินทางมาจากต่างประเทศ                     350
กุมภาพันธ์     ค้นหาผู้ป่วยเชิงรุก                        142
               ตรวจก่อนทำหัตถการ                           11
               ติดเชื้อมาจากสถานที่ชุมชน                  547
               ติดเชื้อมาจากสถานที่ทำงาน                 5847
               ติดเชื้อมาจากสถานที่แออัด                    1
               ติดเชื้อมาจากสถานบันเทิง                     9
               บุคลากรด้านการแพทย์และสาธารณสุข              7
               ปอดอักเสบ (Pneumonia)                        1
               สัมผัสใกล้ชิดผู้ติดเชื้อ                   268
               อาชีพเสี่ยง                                  9
               อื่นๆ                                       14
               เดินทางมาจากต่างประเทศ                     311
               เดินทางมาจากพื้นที่เสี่ยง                    2
ตุลาคม         ค้นหาผู้ป่วยเชิงรุก                      16245
               ตรวจก่อนทำหัตถการ                          618
               ติดเชื้อมาจากพิธีกรรมทางศาสนา              390
               ติดเชื้อมาจากสถานที่ชุมชน                 6268
               ติดเชื้อมาจากสถานที่ทำงาน                 6275
               ติดเชื้อมาจากสถานที่แออัด                   83
               ติดเชื้อมาจากสถานบันเทิง                    15
               ติดเชื้อมาจากสถานศึกษา                      32
               ทัณฑสถาน/เรือนจำ                          3470
               บุคลากรด้านการแพทย์และสาธารณสุข            903
               ปอดอักเสบ (Pneumonia)                       34
               สัมผัสใกล้ชิดผู้ติดเชื้อ                130866
               อาชีพเสี่ยง                                240
               อื่นๆ                                    89767
               เดินทางมาจากต่างประเทศ                     473
               เดินทางมาจากพื้นที่เสี่ยง                    3
พฤษภาคม        ค้นหาผู้ป่วยเชิงรุก                      11034
               ตรวจก่อนทำหัตถการ                          121
               ติดเชื้อมาจากพิธีกรรมทางศาสนา                2
               ติดเชื้อมาจากสถานที่ชุมชน                 5282
               ติดเชื้อมาจากสถานที่ทำงาน                 7336
               ติดเชื้อมาจากสถานที่แออัด                   94
               ติดเชื้อมาจากสถานบันเทิง                   122
               ทัณฑสถาน/เรือนจำ                         26254
               บุคลากรด้านการแพทย์และสาธารณสุข            195
               ปอดอักเสบ (Pneumonia)                       60
               สัมผัสใกล้ชิดผู้ติดเชื้อ                 27786
               อาชีพเสี่ยง                                291
               อื่นๆ                                    15481
               เดินทางมาจากต่างประเทศ                     578
               เดินทางมาจากพื้นที่เสี่ยง                    3
มกราคม         ค้นหาผู้ป่วยเชิงรุก                         77
               ตรวจก่อนทำหัตถการ                            7
               ติดเชื้อมาจากสถานที่ชุมชน                  525
               ติดเชื้อมาจากสถานที่ทำงาน                 8933
               ติดเชื้อมาจากสถานที่แออัด                  242
               ติดเชื้อมาจากสถานบันเทิง                   119
               บุคลากรด้านการแพทย์และสาธารณสุข              7
               ปอดอักเสบ (Pneumonia)                        1
               สัมผัสใกล้ชิดผู้ติดเชื้อ                   903
               อาชีพเสี่ยง                                 42
               อื่นๆ                                      608
               เดินทางมาจากต่างประเทศ                     434
มิถุนายน       ค้นหาผู้ป่วยเชิงรุก                      15742
               ตรวจก่อนทำหัตถการ                          208
               ติดเชื้อมาจากสถานที่ชุมชน                 4306
               ติดเชื้อมาจากสถานที่ทำงาน                14187
               ติดเชื้อมาจากสถานที่แออัด                  117
               ติดเชื้อมาจากสถานบันเทิง                     4
               ทัณฑสถาน/เรือนจำ                         10388
               บุคลากรด้านการแพทย์และสาธารณสุข            427
               ปอดอักเสบ (Pneumonia)                      235
               สัมผัสใกล้ชิดผู้ติดเชื้อ                 37977
               อาชีพเสี่ยง                                182
               อื่นๆ                                    14840
               เดินทางมาจากต่างประเทศ                     896
มีนาคม         ค้นหาผู้ป่วยเชิงรุก                        110
               ตรวจก่อนทำหัตถการ                           10
               ติดเชื้อมาจากสถานที่ชุมชน                  734
               ติดเชื้อมาจากสถานที่ทำงาน                  924
               ติดเชื้อมาจากสถานที่แออัด                    1
               ติดเชื้อมาจากสถานบันเทิง                     2
               บุคลากรด้านการแพทย์และสาธารณสุข              7
               ปอดอักเสบ (Pneumonia)                        1
               สัมผัสใกล้ชิดผู้ติดเชื้อ                   262
               อาชีพเสี่ยง                                 14
               อื่นๆ                                      197
               เดินทางมาจากต่างประเทศ                     329
               เดินทางมาจากพื้นที่เสี่ยง                  320
สิงหาคม        ค้นหาผู้ป่วยเชิงรุก                      85885
               ตรวจก่อนทำหัตถการ                          816
               ติดเชื้อมาจากพิธีกรรมทางศาสนา                5
               ติดเชื้อมาจากสถานที่ชุมชน                 6258
               ติดเชื้อมาจากสถานที่ทำงาน                 9803
               ติดเชื้อมาจากสถานที่แออัด                  210
               ติดเชื้อมาจากสถานบันเทิง                     2
               ทัณฑสถาน/เรือนจำ                         10195
               บุคลากรด้านการแพทย์และสาธารณสุข           2849
               ปอดอักเสบ (Pneumonia)                      541
               สัมผัสใกล้ชิดผู้ติดเชื้อ                236542
               อาชีพเสี่ยง                                781
               อื่นๆ                                   253238
               เดินทางมาจากต่างประเทศ                     312
               เดินทางมาจากพื้นที่เสี่ยง                    5
เมษายน         ค้นหาผู้ป่วยเชิงรุก                       2283
               ตรวจก่อนทำหัตถการ                           21
               ตรวจสุขภาพแรงงานต่างด้าว                     2
               ติดเชื้อมาจากพิธีกรรมทางศาสนา                6
               ติดเชื้อมาจากสถานที่ชุมชน                 1724
               ติดเชื้อมาจากสถานที่ทำงาน                  466
               ติดเชื้อมาจากสถานที่แออัด                  246
               ติดเชื้อมาจากสถานบันเทิง                  5403
               บุคลากรด้านการแพทย์และสาธารณสุข            121
               ปอดอักเสบ (Pneumonia)                       22
               สัมผัสใกล้ชิดผู้ติดเชื้อ                 15156
               อาชีพเสี่ยง                                162
               อื่นๆ                                    10393
               เดินทางมาจากต่างประเทศ                     213
               เดินทางมาจากพื้นที่เสี่ยง                   72

In [ ]:
covid19Y64 = df4.append(df3)
covid19Y64.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,6886,2021-01-01,2020-12-31,หญิง,40.0,ปี,Thailand,กรุงเทพมหานคร,Cluster สมุทรสาคร,ปทุมธานี,คลองหลวง
1,6887,2021-01-01,2020-12-31,หญิง,21.0,ปี,Thailand,ปทุมธานี,Cluster ระยอง,ปทุมธานี,คลองหลวง
2,6888,2021-01-01,2020-12-31,หญิง,20.0,ปี,Thailand,นครปฐม,สถานบันเทิง,นครปฐม,สามพราน
3,6889,2021-01-01,2020-12-31,หญิง,47.0,ปี,Thailand,สมุทรสาคร,Cluster สมุทรสาคร,นครปฐม,สามพราน
4,6890,2021-01-01,2020-12-31,หญิง,36.0,ปี,Cambodia,ปทุมธานี,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กรุงเทพมหานคร,สายไหม

In [ ]:
covid19Y64.tail()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
364273,2223431,2021-12-31,2021-12-30,หญิง,NaN,NaN,NaN,ระนอง,ทัณฑสถาน/เรือนจำ,ระนอง,NaN
364274,2223432,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,สตูล,ทัณฑสถาน/เรือนจำ,สตูล,NaN
364275,2223433,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,ปทุมธานี,NaN
364276,2223434,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
364277,2223435,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN

ทำการ reset index หลังจากมีการรวมทั้ง 3 file (3 DataFrame) เข้าด้วยกันแล้ว

In [ ]:
covid19Y64 = covid19Y64.reset_index()
covid19Y64

,index,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,0,6886,2021-01-01,2020-12-31,หญิง,40.0,ปี,Thailand,กรุงเทพมหานคร,Cluster สมุทรสาคร,ปทุมธานี,คลองหลวง
1,1,6887,2021-01-01,2020-12-31,หญิง,21.0,ปี,Thailand,ปทุมธานี,Cluster ระยอง,ปทุมธานี,คลองหลวง
2,2,6888,2021-01-01,2020-12-31,หญิง,20.0,ปี,Thailand,นครปฐม,สถานบันเทิง,นครปฐม,สามพราน
3,3,6889,2021-01-01,2020-12-31,หญิง,47.0,ปี,Thailand,สมุทรสาคร,Cluster สมุทรสาคร,นครปฐม,สามพราน
4,4,6890,2021-01-01,2020-12-31,หญิง,36.0,ปี,Cambodia,ปทุมธานี,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กรุงเทพมหานคร,สายไหม
...,...,...,...,...,...,...,...,...,...,...,...,...
2216545,364273,2223431,2021-12-31,2021-12-30,หญิง,NaN,NaN,NaN,ระนอง,ทัณฑสถาน/เรือนจำ,ระนอง,NaN
2216546,364274,2223432,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,สตูล,ทัณฑสถาน/เรือนจำ,สตูล,NaN
2216547,364275,2223433,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,ปทุมธานี,NaN
2216548,364276,2223434,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
2216549,364277,2223435,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN

ตรวจสอบ shape ของ data ทั้งหมดที่ทำการรวมทั้ง 3 file (3 DataFrame) เข้าด้วยกันแล้ว

In [ ]:
print(covid19Y64.shape)

(2216550, 12)

ตรวจสอบ Missing values ในแต่ละ columns

In [ ]:
covid19Y64.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2216550 entries, 0 to 2216549
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   index                  int64
 1   No.                    int64
 2   announce_date          datetime64[ns]
 3   Notified date          datetime64[ns]
 4   sex                    object
 5   age                    object
 6   Unit                   object
 7   nationality            object
 8   province_of_isolation  object
 9   risk                   object
 10  province_of_onset      object
 11  district_of_onset      object
dtypes: datetime64[ns](2), int64(2), object(8)
memory usage: 202.9+ MB

In [ ]:
covid19Y64.count().to_frame()

                             0
index                  2216550
No.                    2216550
announce_date          2216550
Notified date          2215743
sex                    2091838
age                    2020347
Unit                   2020483
nationality            2004563
province_of_isolation  2212616
risk                   2215448
province_of_onset      1939437
district_of_onset      1854999

In [ ]:
#ลอง groupby ดูเฉยๆๆ
test = covid19Y64.groupby(['announce_date'])
test.describe()

                index                                                       \
                count      mean         std       min        25%       50%
announce_date
2021-01-01      279.0     139.0   80.684571       0.0      69.50     139.0
2021-01-02      216.0     386.5   62.498000     279.0     332.75     386.5
2021-01-03      315.0     652.0   91.076891     495.0     573.50     652.0
2021-01-04      745.0    1182.0  215.207264     810.0     996.00    1182.0
2021-01-05      527.0    1818.0  152.276065    1555.0    1686.50    1818.0
...               ...       ...         ...       ...        ...       ...
2021-12-27     2437.0  352031.0  703.645626  350813.0  351422.00  352031.0
2021-12-28     2305.0  354402.0  665.540507  353250.0  353826.00  354402.0
2021-12-29     2575.0  356842.0  743.482795  355555.0  356198.50  356842.0
2021-12-30     3037.0  359648.0  876.850709  358130.0  358889.00  359648.0
2021-12-31     3111.0  362722.0  898.212670  361167.0  361944.50  362722.0

                                       No.                                    \
                     75%       max   count       mean         std        min
announce_date
2021-01-01        208.50     278.0   279.0     7025.0   80.684571     6886.0
2021-01-02        440.25     494.0   216.0     7272.5   62.498000     7165.0
2021-01-03        730.50     809.0   315.0     7538.0   91.076891     7381.0
2021-01-04       1368.00    1554.0   745.0     8068.0  215.207264     7696.0
2021-01-05       1949.50    2081.0   527.0     8704.0  152.276065     8441.0
...                  ...       ...     ...        ...         ...        ...
2021-12-27     352640.00  353249.0  2437.0  2211189.0  703.645626  2209971.0
2021-12-28     354978.00  355554.0  2305.0  2213560.0  665.540507  2212408.0
2021-12-29     357485.50  358129.0  2575.0  2216000.0  743.482795  2214713.0
2021-12-30     360407.00  361166.0  3037.0  2218806.0  876.850709  2217288.0
2021-12-31     363499.50  364277.0  3111.0  2221880.0  898.212670  2220325.0


                      25%        50%         75%        max
announce_date
2021-01-01        6955.50     7025.0     7094.50     7164.0
2021-01-02        7218.75     7272.5     7326.25     7380.0
2021-01-03        7459.50     7538.0     7616.50     7695.0
2021-01-04        7882.00     8068.0     8254.00     8440.0
2021-01-05        8572.50     8704.0     8835.50     8967.0
...                   ...        ...         ...        ...
2021-12-27     2210580.00  2211189.0  2211798.00  2212407.0
2021-12-28     2212984.00  2213560.0  2214136.00  2214712.0
2021-12-29     2215356.50  2216000.0  2216643.50  2217287.0
2021-12-30     2218047.00  2218806.0  2219565.00  2220324.0
2021-12-31     2221102.50  2221880.0  2222657.50  2223435.0

[365 rows x 16 columns]