<a href="https://colab.research.google.com/github/Toeysamm/2-64-NIDA-DADS5001/blob/main/Covid19_midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
#from google.colab import drive
#drive.mount('/content/drive')

###เริ่มต้นทำการ import data ดิฉันเลือกใช้ ข้อมูล Covid19 ตามประกาศในปี 2021

In [37]:
import pandas as pd

import data file ที่ 1 ได้แก่ Data ของ Covid19 ตามประกาศตั้งแต่วันที่ 1 มกราคม 2021 - 11 สิงหาคม 2021

In [38]:
url1 = 'https://docs.google.com/spreadsheets/d/10V8_2zSEqwCPEiwuft8tjzpXjyWIL6-j/edit?usp=sharing&ouid=109060731963179648304&rtpof=true&sd=true'
path1 = 'https://drive.google.com/uc?export=download&id='+url1.split('/')[-2]
df1 = pd.read_excel(path1)
df1.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,6886,2021-01-01,2020-12-31,หญิง,40.0,ปี,Thailand,กรุงเทพมหานคร,Cluster สมุทรสาคร,ปทุมธานี,คลองหลวง
1,6887,2021-01-01,2020-12-31,หญิง,21.0,ปี,Thailand,ปทุมธานี,Cluster ระยอง,ปทุมธานี,คลองหลวง
2,6888,2021-01-01,2020-12-31,หญิง,20.0,ปี,Thailand,นครปฐม,สถานบันเทิง,นครปฐม,สามพราน
3,6889,2021-01-01,2020-12-31,หญิง,47.0,ปี,Thailand,สมุทรสาคร,Cluster สมุทรสาคร,นครปฐม,สามพราน
4,6890,2021-01-01,2020-12-31,หญิง,36.0,ปี,Cambodia,ปทุมธานี,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กรุงเทพมหานคร,สายไหม

In [39]:
df1.tail()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
810099,816985,2021-08-11,2021-08-10,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
810100,816986,2021-08-11,2021-08-10,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
810101,816987,2021-08-11,2021-08-10,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
810102,816988,2021-08-11,2021-08-10,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
810103,816989,2021-08-11,2021-08-10,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [40]:
#sheet_id1 = "1lhlWGWpoh8Vk3eRcH_-E4fLa9JpiGWDr"
#sheet_name1 = "confirmed-cases"
#url1 = f"https://docs.google.com/spreadsheets/d/{sheet_id1}/gviz/tq?tqx=out:csv&sheet={sheet_name1}"

In [41]:
#pd.read_csv(url1).head()

import data file ที่ 2 ได้แก่ Data ของ Covid19 ตามประกาศตั้งแต่วันที่ 12 สิงหาคม 2021 - 25 ตุลาคม 2021

In [42]:
url2 = 'https://docs.google.com/spreadsheets/d/1-9Xy8HLboyxDBEnNMcSFXezI_4iH95V5/edit?usp=sharing&ouid=109060731963179648304&rtpof=true&sd=true'
path2 = 'https://drive.google.com/uc?export=download&id='+url2.split('/')[-2]
df2 = pd.read_excel(path2)
df2.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,2021-08-12,2021-08-11,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,2021-08-12,2021-08-11,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,2021-08-12,2021-08-11,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,2021-08-12,2021-08-11,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,2021-08-12,2021-08-11,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN

In [43]:
df2.tail()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
1042163,1859153,2021-10-25,2021-10-24,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,2021-10-25,2021-10-24,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,2021-10-25,2021-10-24,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

import data file ที่ 3 ได้แก่ Data ของ Covid19 ตามประกาศตั้งแต่วันที่ 26 ตุลาคม 2021 - 31 ธันวาคม 2021

In [44]:
url3 = 'https://docs.google.com/spreadsheets/d/1ykQlKD64pufk82RQGpku3K6B382-lJoA/edit?usp=sharing&ouid=109060731963179648304&rtpof=true&sd=true'
path3 = 'https://drive.google.com/uc?export=download&id='+url3.split('/')[-2]
df3 = pd.read_excel(path3)
df3.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง

In [45]:
df3.tail()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
364273,2223431,2021-12-31,2021-12-30,หญิง,NaN,NaN,NaN,ระนอง,ทัณฑสถาน/เรือนจำ,ระนอง,NaN
364274,2223432,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,สตูล,ทัณฑสถาน/เรือนจำ,สตูล,NaN
364275,2223433,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,ปทุมธานี,NaN
364276,2223434,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
364277,2223435,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN

ตรวจสอบ shape ของแต่ data ที่ import เข้ามา

In [55]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(810104, 11)
(1042168, 11)
(364278, 11)

ทำการรวมทั้ง 3 file (3 DataFrame) เข้าเป็น 1 DataFrame

In [56]:
df4 = df1.append(df2)
df4.tail()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
1042163,1859153,2021-10-25,2021-10-24,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,2021-10-25,2021-10-24,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,2021-10-25,2021-10-24,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [57]:
covid19Y64 = df4.append(df3)
covid19Y64.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,6886,2021-01-01,2020-12-31,หญิง,40.0,ปี,Thailand,กรุงเทพมหานคร,Cluster สมุทรสาคร,ปทุมธานี,คลองหลวง
1,6887,2021-01-01,2020-12-31,หญิง,21.0,ปี,Thailand,ปทุมธานี,Cluster ระยอง,ปทุมธานี,คลองหลวง
2,6888,2021-01-01,2020-12-31,หญิง,20.0,ปี,Thailand,นครปฐม,สถานบันเทิง,นครปฐม,สามพราน
3,6889,2021-01-01,2020-12-31,หญิง,47.0,ปี,Thailand,สมุทรสาคร,Cluster สมุทรสาคร,นครปฐม,สามพราน
4,6890,2021-01-01,2020-12-31,หญิง,36.0,ปี,Cambodia,ปทุมธานี,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กรุงเทพมหานคร,สายไหม

In [58]:
covid19Y64.tail()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
364273,2223431,2021-12-31,2021-12-30,หญิง,NaN,NaN,NaN,ระนอง,ทัณฑสถาน/เรือนจำ,ระนอง,NaN
364274,2223432,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,สตูล,ทัณฑสถาน/เรือนจำ,สตูล,NaN
364275,2223433,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,ปทุมธานี,NaN
364276,2223434,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
364277,2223435,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN

In [59]:
covid19Y64.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216550 entries, 0 to 364277
Data columns (total 11 columns):
 #   Column                 Dtype
---  ------                 -----
 0   No.                    int64
 1   announce_date          datetime64[ns]
 2   Notified date          datetime64[ns]
 3   sex                    object
 4   age                    object
 5   Unit                   object
 6   nationality            object
 7   province_of_isolation  object
 8   risk                   object
 9   province_of_onset      object
 10  district_of_onset      object
dtypes: datetime64[ns](2), int64(1), object(8)
memory usage: 202.9+ MB