<a href="https://colab.research.google.com/github/Toeysamm/2-64-NIDA-DADS5001/blob/main/Covid19_midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

###เริ่มต้นทำการ import data ดิฉันเลือกใช้ ข้อมูล Covid19 ตามประกาศในปี 2021

In [7]:
import pandas as pd
import numpy as np

import data file ที่ 1 ได้แก่ Data ของ Covid19 ตามประกาศตั้งแต่วันที่ 1 มกราคม 2021 - 11 สิงหาคม 2021

In [ ]:
url1 = 'https://docs.google.com/spreadsheets/d/10V8_2zSEqwCPEiwuft8tjzpXjyWIL6-j/edit?usp=sharing&ouid=109060731963179648304&rtpof=true&sd=true'
path1 = 'https://drive.google.com/uc?export=download&id='+url1.split('/')[-2]
df1 = pd.read_excel(path1)
df1.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,6886,2021-01-01,2020-12-31,หญิง,40.0,ปี,Thailand,กรุงเทพมหานคร,Cluster สมุทรสาคร,ปทุมธานี,คลองหลวง
1,6887,2021-01-01,2020-12-31,หญิง,21.0,ปี,Thailand,ปทุมธานี,Cluster ระยอง,ปทุมธานี,คลองหลวง
2,6888,2021-01-01,2020-12-31,หญิง,20.0,ปี,Thailand,นครปฐม,สถานบันเทิง,นครปฐม,สามพราน
3,6889,2021-01-01,2020-12-31,หญิง,47.0,ปี,Thailand,สมุทรสาคร,Cluster สมุทรสาคร,นครปฐม,สามพราน
4,6890,2021-01-01,2020-12-31,หญิง,36.0,ปี,Cambodia,ปทุมธานี,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กรุงเทพมหานคร,สายไหม

In [ ]:
df1.tail()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
810099,816985,2021-08-11,2021-08-10,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
810100,816986,2021-08-11,2021-08-10,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
810101,816987,2021-08-11,2021-08-10,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
810102,816988,2021-08-11,2021-08-10,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
810103,816989,2021-08-11,2021-08-10,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

import data file ที่ 2 ได้แก่ Data ของ Covid19 ตามประกาศตั้งแต่วันที่ 12 สิงหาคม 2021 - 25 ตุลาคม 2021

In [8]:
url2 = 'https://docs.google.com/spreadsheets/d/1IGLTKC_t_h0xZemopKgrqosNiWKAvPc3/edit?usp=sharing&ouid=109060731963179648304&rtpof=true&sd=true'
path2 = 'https://drive.google.com/uc?export=download&id='+url2.split('/')[-2]
df2 = pd.read_excel(path2)
df2.head()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,risk,group_risk,province_of_onset,district_of_onset
0,816990,2021-08-12,august,2021-08-11,ชาย,7.0,7.0,children,ปี,ปี,Thailand,T,เชียงราย,อื่นๆ,อื่นๆ,เชียงราย,NaN
1,816991,2021-08-12,august,2021-08-11,ชาย,1.0,1.0,infant,ปี,ปี,Thailand,T,เชียงราย,อื่นๆ,อื่นๆ,เชียงราย,NaN
2,816992,2021-08-12,august,2021-08-11,ชาย,35.0,35.0,adult,ปี,ปี,Thailand,T,เชียงราย,อื่นๆ,อื่นๆ,เชียงราย,NaN
3,816993,2021-08-12,august,2021-08-11,หญิง,33.0,33.0,adult,ปี,ปี,Thailand,T,เชียงราย,อื่นๆ,อื่นๆ,เชียงราย,NaN
4,816994,2021-08-12,august,2021-08-11,หญิง,14.0,14.0,teens,ปี,ปี,Thailand,T,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สัมผัสใกล้ชิดผู้ติดเชื้อ,เชียงราย,NaN

In [9]:
df2.tail()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,risk,group_risk,province_of_onset,district_of_onset
1042163,1859153,2021-10-25,october,2021-10-24,ชาย,45.0,45.0,adult,ปี,ปี,NaN,T,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
1042164,1859154,2021-10-25,october,2021-10-24,ชาย,31.0,31.0,adult,ปี,ปี,NaN,T,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
1042165,1859155,2021-10-25,october,2021-10-24,ชาย,31.0,31.0,adult,ปี,ปี,NaN,NT,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
1042166,1859156,2021-10-25,october,2021-10-24,ชาย,24.0,24.0,adult,ปี,ปี,NaN,T,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
1042167,1859157,2021-10-25,october,2021-10-24,ชาย,25.0,25.0,adult,ปี,ปี,NaN,NT,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,เชียงใหม่,NaN

import data file ที่ 3 ได้แก่ Data ของ Covid19 ตามประกาศตั้งแต่วันที่ 26 ตุลาคม 2021 - 31 ธันวาคม 2021

In [ ]:
url3 = 'https://docs.google.com/spreadsheets/d/1ykQlKD64pufk82RQGpku3K6B382-lJoA/edit?usp=sharing&ouid=109060731963179648304&rtpof=true&sd=true'
path3 = 'https://drive.google.com/uc?export=download&id='+url3.split('/')[-2]
df3 = pd.read_excel(path3)
df3.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง

In [ ]:
df3.tail()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
364273,2223431,2021-12-31,2021-12-30,หญิง,NaN,NaN,NaN,ระนอง,ทัณฑสถาน/เรือนจำ,ระนอง,NaN
364274,2223432,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,สตูล,ทัณฑสถาน/เรือนจำ,สตูล,NaN
364275,2223433,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,ปทุมธานี,NaN
364276,2223434,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
364277,2223435,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN

ตรวจสอบ shape ของแต่ data ที่ import เข้ามา

In [ ]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(810104, 11)
(1042168, 11)
(364278, 11)

ทำการรวมทั้ง 3 file (3 DataFrame) เข้าเป็น 1 DataFrame

In [ ]:
df4 = df1.append(df2)
df4.tail()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
1042163,1859153,2021-10-25,2021-10-24,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,2021-10-25,2021-10-24,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,2021-10-25,2021-10-24,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [ ]:
covid19Y64 = df4.append(df3)
covid19Y64.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,6886,2021-01-01,2020-12-31,หญิง,40.0,ปี,Thailand,กรุงเทพมหานคร,Cluster สมุทรสาคร,ปทุมธานี,คลองหลวง
1,6887,2021-01-01,2020-12-31,หญิง,21.0,ปี,Thailand,ปทุมธานี,Cluster ระยอง,ปทุมธานี,คลองหลวง
2,6888,2021-01-01,2020-12-31,หญิง,20.0,ปี,Thailand,นครปฐม,สถานบันเทิง,นครปฐม,สามพราน
3,6889,2021-01-01,2020-12-31,หญิง,47.0,ปี,Thailand,สมุทรสาคร,Cluster สมุทรสาคร,นครปฐม,สามพราน
4,6890,2021-01-01,2020-12-31,หญิง,36.0,ปี,Cambodia,ปทุมธานี,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กรุงเทพมหานคร,สายไหม

In [ ]:
covid19Y64.tail()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
364273,2223431,2021-12-31,2021-12-30,หญิง,NaN,NaN,NaN,ระนอง,ทัณฑสถาน/เรือนจำ,ระนอง,NaN
364274,2223432,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,สตูล,ทัณฑสถาน/เรือนจำ,สตูล,NaN
364275,2223433,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,ปทุมธานี,NaN
364276,2223434,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
364277,2223435,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN

ทำการ reset index หลังจากมีการรวมทั้ง 3 file (3 DataFrame) เข้าด้วยกันแล้ว

In [ ]:
covid19Y64 = covid19Y64.reset_index()
covid19Y64

,index,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,0,6886,2021-01-01,2020-12-31,หญิง,40.0,ปี,Thailand,กรุงเทพมหานคร,Cluster สมุทรสาคร,ปทุมธานี,คลองหลวง
1,1,6887,2021-01-01,2020-12-31,หญิง,21.0,ปี,Thailand,ปทุมธานี,Cluster ระยอง,ปทุมธานี,คลองหลวง
2,2,6888,2021-01-01,2020-12-31,หญิง,20.0,ปี,Thailand,นครปฐม,สถานบันเทิง,นครปฐม,สามพราน
3,3,6889,2021-01-01,2020-12-31,หญิง,47.0,ปี,Thailand,สมุทรสาคร,Cluster สมุทรสาคร,นครปฐม,สามพราน
4,4,6890,2021-01-01,2020-12-31,หญิง,36.0,ปี,Cambodia,ปทุมธานี,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กรุงเทพมหานคร,สายไหม
...,...,...,...,...,...,...,...,...,...,...,...,...
2216545,364273,2223431,2021-12-31,2021-12-30,หญิง,NaN,NaN,NaN,ระนอง,ทัณฑสถาน/เรือนจำ,ระนอง,NaN
2216546,364274,2223432,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,สตูล,ทัณฑสถาน/เรือนจำ,สตูล,NaN
2216547,364275,2223433,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,ปทุมธานี,NaN
2216548,364276,2223434,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
2216549,364277,2223435,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN

ตรวจสอบ shape ของ data ทั้งหมดที่ทำการรวมทั้ง 3 file (3 DataFrame) เข้าด้วยกันแล้ว

In [ ]:
print(covid19Y64.shape)

(2216550, 12)

ตรวจสอบ Missing values ในแต่ละ columns

In [ ]:
covid19Y64.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2216550 entries, 0 to 2216549
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   index                  int64
 1   No.                    int64
 2   announce_date          datetime64[ns]
 3   Notified date          datetime64[ns]
 4   sex                    object
 5   age                    object
 6   Unit                   object
 7   nationality            object
 8   province_of_isolation  object
 9   risk                   object
 10  province_of_onset      object
 11  district_of_onset      object
dtypes: datetime64[ns](2), int64(2), object(8)
memory usage: 202.9+ MB

In [ ]:
covid19Y64.count().to_frame()

                             0
index                  2216550
No.                    2216550
announce_date          2216550
Notified date          2215743
sex                    2091838
age                    2020347
Unit                   2020483
nationality            2004563
province_of_isolation  2212616
risk                   2215448
province_of_onset      1939437
district_of_onset      1854999

In [ ]:
#ลอง groupby ดูเฉยๆๆ
test = covid19Y64.groupby(['announce_date'])
test.describe()

                index                                                       \
                count      mean         std       min        25%       50%
announce_date
2021-01-01      279.0     139.0   80.684571       0.0      69.50     139.0
2021-01-02      216.0     386.5   62.498000     279.0     332.75     386.5
2021-01-03      315.0     652.0   91.076891     495.0     573.50     652.0
2021-01-04      745.0    1182.0  215.207264     810.0     996.00    1182.0
2021-01-05      527.0    1818.0  152.276065    1555.0    1686.50    1818.0
...               ...       ...         ...       ...        ...       ...
2021-12-27     2437.0  352031.0  703.645626  350813.0  351422.00  352031.0
2021-12-28     2305.0  354402.0  665.540507  353250.0  353826.00  354402.0
2021-12-29     2575.0  356842.0  743.482795  355555.0  356198.50  356842.0
2021-12-30     3037.0  359648.0  876.850709  358130.0  358889.00  359648.0
2021-12-31     3111.0  362722.0  898.212670  361167.0  361944.50  362722.0

                                       No.                                    \
                     75%       max   count       mean         std        min
announce_date
2021-01-01        208.50     278.0   279.0     7025.0   80.684571     6886.0
2021-01-02        440.25     494.0   216.0     7272.5   62.498000     7165.0
2021-01-03        730.50     809.0   315.0     7538.0   91.076891     7381.0
2021-01-04       1368.00    1554.0   745.0     8068.0  215.207264     7696.0
2021-01-05       1949.50    2081.0   527.0     8704.0  152.276065     8441.0
...                  ...       ...     ...        ...         ...        ...
2021-12-27     352640.00  353249.0  2437.0  2211189.0  703.645626  2209971.0
2021-12-28     354978.00  355554.0  2305.0  2213560.0  665.540507  2212408.0
2021-12-29     357485.50  358129.0  2575.0  2216000.0  743.482795  2214713.0
2021-12-30     360407.00  361166.0  3037.0  2218806.0  876.850709  2217288.0
2021-12-31     363499.50  364277.0  3111.0  2221880.0  898.212670  2220325.0


                      25%        50%         75%        max
announce_date
2021-01-01        6955.50     7025.0     7094.50     7164.0
2021-01-02        7218.75     7272.5     7326.25     7380.0
2021-01-03        7459.50     7538.0     7616.50     7695.0
2021-01-04        7882.00     8068.0     8254.00     8440.0
2021-01-05        8572.50     8704.0     8835.50     8967.0
...                   ...        ...         ...        ...
2021-12-27     2210580.00  2211189.0  2211798.00  2212407.0
2021-12-28     2212984.00  2213560.0  2214136.00  2214712.0
2021-12-29     2215356.50  2216000.0  2216643.50  2217287.0
2021-12-30     2218047.00  2218806.0  2219565.00  2220324.0
2021-12-31     2221102.50  2221880.0  2222657.50  2223435.0

[365 rows x 16 columns]