<a href="https://colab.research.google.com/github/Toeysamm/2-64-NIDA-DADS5001/blob/main/Covid19_midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
#from google.colab import drive
#drive.mount('/content/drive')

###เริ่มต้นทำการ import data ดิฉันเลือกใช้ ข้อมูล Covid19 ตามประกาศในปี 2021

In [34]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = 999
pd.options.display.max_columns = 20

import data file ที่ 1 ได้แก่ Data ของ Covid19 ตามประกาศตั้งแต่วันที่ 1 มกราคม 2021 - 11 สิงหาคม 2021

In [35]:
url1 = 'https://docs.google.com/spreadsheets/d/1oTkq0lCdwAXEK4VFKO80bgt7PnsuL5nM/edit?usp=sharing&ouid=109060731963179648304&rtpof=true&sd=true'
path1 = 'https://drive.google.com/uc?export=download&id='+url1.split('/')[-2]
df1 = pd.read_excel(path1)
df1.head()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
0,6886,2021-01-01,1_มกราคม,2020-12-31,หญิง,40.0,40.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,Cluster สมุทรสาคร,ติดเชื้อมาจากสถานที่ทำงาน,ปทุมธานี,ปริมณฑล,คลองหลวง
1,6887,2021-01-01,1_มกราคม,2020-12-31,หญิง,21.0,21.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,ปทุมธานี,ปริมณฑล,Cluster ระยอง,ติดเชื้อมาจากสถานที่ชุมชน,ปทุมธานี,ปริมณฑล,คลองหลวง
2,6888,2021-01-01,1_มกราคม,2020-12-31,หญิง,20.0,20.0,วัยรุ่น,ปี,ปี,Thailand,ไทย,นครปฐม,ปริมณฑล,สถานบันเทิง,ติดเชื้อมาจากสถานบันเทิง,นครปฐม,ปริมณฑล,สามพราน
3,6889,2021-01-01,1_มกราคม,2020-12-31,หญิง,47.0,47.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,สมุทรสาคร,ปริมณฑล,Cluster สมุทรสาคร,ติดเชื้อมาจากสถานที่ทำงาน,นครปฐม,ปริมณฑล,สามพราน
4,6890,2021-01-01,1_มกราคม,2020-12-31,หญิง,36.0,36.0,วัยผู้ใหญ่,ปี,ปี,Cambodia,ต่างชาติ,ปทุมธานี,ปริมณฑล,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,อาชีพเสี่ยง,กรุงเทพมหานคร,กรุงเทพมหานคร,สายไหม

In [36]:
df1.tail()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
810099,816985,2021-08-11,8_สิงหาคม,2021-08-10,หญิง,8.0,8.0,วัยเด็ก,ปี,ปี,Thailand,ไทย,สระแก้ว,ภาคตะวันออก,อยู่ระหว่างการสอบสวน,อื่นๆ,สระแก้ว,ภาคตะวันออก,ตาพระยา
810100,816986,2021-08-11,8_สิงหาคม,2021-08-10,ชาย,14.0,14.0,วัยรุ่น,ปี,ปี,Thailand,ไทย,สระแก้ว,ภาคตะวันออก,อยู่ระหว่างการสอบสวน,อื่นๆ,สระแก้ว,ภาคตะวันออก,ตาพระยา
810101,816987,2021-08-11,8_สิงหาคม,2021-08-10,ชาย,59.0,59.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,สระแก้ว,ภาคตะวันออก,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,อาชีพเสี่ยง,สระแก้ว,ภาคตะวันออก,อรัญประเทศ
810102,816988,2021-08-11,8_สิงหาคม,2021-08-10,หญิง,34.0,34.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,สระแก้ว,ภาคตะวันออก,อื่นๆ,อื่นๆ,กรุงเทพมหานคร,กรุงเทพมหานคร,บางขุนเทียน
810103,816989,2021-08-11,8_สิงหาคม,2021-08-10,หญิง,19.0,19.0,วัยรุ่น,ปี,ปี,Thailand,ไทย,สระแก้ว,ภาคตะวันออก,อื่นๆ,อื่นๆ,พระนครศรีอยุธยา,ภาคกลาง,อุทัย

import data file ที่ 2 ได้แก่ Data ของ Covid19 ตามประกาศตั้งแต่วันที่ 12 สิงหาคม 2021 - 25 ตุลาคม 2021

In [37]:
url2 = 'https://docs.google.com/spreadsheets/d/1MFLcdDTeCnLqOXdHeRddWKZCEzm3HSmH/edit?usp=sharing&ouid=109060731963179648304&rtpof=true&sd=true'
path2 = 'https://drive.google.com/uc?export=download&id='+url2.split('/')[-2]
df2 = pd.read_excel(path2)
df2.head()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
0,816990,2021-08-12,8_สิงหาคม,2021-08-11,ชาย,7.0,7.0,วัยเด็ก,ปี,ปี,Thailand,ไทย,เชียงราย,ภาคเหนือ,อื่นๆ,อื่นๆ,เชียงราย,ภาคเหนือ,NaN
1,816991,2021-08-12,8_สิงหาคม,2021-08-11,ชาย,1.0,1.0,วัยทารก,ปี,ปี,Thailand,ไทย,เชียงราย,ภาคเหนือ,อื่นๆ,อื่นๆ,เชียงราย,ภาคเหนือ,NaN
2,816992,2021-08-12,8_สิงหาคม,2021-08-11,ชาย,35.0,35.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,เชียงราย,ภาคเหนือ,อื่นๆ,อื่นๆ,เชียงราย,ภาคเหนือ,NaN
3,816993,2021-08-12,8_สิงหาคม,2021-08-11,หญิง,33.0,33.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,เชียงราย,ภาคเหนือ,อื่นๆ,อื่นๆ,เชียงราย,ภาคเหนือ,NaN
4,816994,2021-08-12,8_สิงหาคม,2021-08-11,หญิง,14.0,14.0,วัยรุ่น,ปี,ปี,Thailand,ไทย,เชียงราย,ภาคเหนือ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สัมผัสใกล้ชิดผู้ติดเชื้อ,เชียงราย,ภาคเหนือ,NaN

In [38]:
df2.tail()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
1042163,1859153,2021-10-25,10_ตุลาคม,2021-10-24,ชาย,45.0,45.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042164,1859154,2021-10-25,10_ตุลาคม,2021-10-24,ชาย,31.0,31.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042165,1859155,2021-10-25,10_ตุลาคม,2021-10-24,ชาย,31.0,31.0,วัยผู้ใหญ่,ปี,ปี,NaN,ต่างชาติ,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042166,1859156,2021-10-25,10_ตุลาคม,2021-10-24,ชาย,24.0,24.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042167,1859157,2021-10-25,10_ตุลาคม,2021-10-24,ชาย,25.0,25.0,วัยผู้ใหญ่,ปี,ปี,NaN,ต่างชาติ,เชียงใหม่,ภาคเหนือ,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,เชียงใหม่,ภาคเหนือ,NaN

In [39]:
##เอาๆๆ  df2.groupby(by=["announce_month","group_risk"]).announce_date.count().to_frame()

import data file ที่ 3 ได้แก่ Data ของ Covid19 ตามประกาศตั้งแต่วันที่ 26 ตุลาคม 2021 - 31 ธันวาคม 2021

In [40]:
url3 = 'https://docs.google.com/spreadsheets/d/1r8LeyM6kJ9gMUKnarn4WyPobiZ4gTlNE/edit?usp=sharing&ouid=109060731963179648304&rtpof=true&sd=true'
path3 = 'https://drive.google.com/uc?export=download&id='+url3.split('/')[-2]
df3 = pd.read_excel(path3)
df3.head()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
0,1859158,2021-10-26,10_ตุลาคม,2021-10-25,ชาย,20.0,20.0,วัยรุ่น,ปี,ปี,Thailand,ไทย,ลำปาง,ภาคเหนือ,อื่นๆ,อื่นๆ,ลำปาง,ภาคเหนือ,เมืองลำปาง
1,1859159,2021-10-26,10_ตุลาคม,2021-10-25,หญิง,42.0,42.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,ลำปาง,ภาคเหนือ,อื่นๆ,อื่นๆ,ลำปาง,ภาคเหนือ,เมืองลำปาง
2,1859160,2021-10-26,10_ตุลาคม,2021-10-25,หญิง,33.0,33.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,ลำปาง,ภาคเหนือ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ติดเชื้อมาจากสถานที่ชุมชน,ลำปาง,ภาคเหนือ,ห้างฉัตร
3,1859161,2021-10-26,10_ตุลาคม,2021-10-25,หญิง,52.0,52.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,ลำปาง,ภาคเหนือ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ติดเชื้อมาจากสถานที่ชุมชน,ลำปาง,ภาคเหนือ,ห้างฉัตร
4,1859162,2021-10-26,10_ตุลาคม,2021-10-25,หญิง,84.0,84.0,วัยผู้สูงอายุ,ปี,ปี,Thailand,ไทย,ลำปาง,ภาคเหนือ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สัมผัสใกล้ชิดผู้ติดเชื้อ,ลำปาง,ภาคเหนือ,เมืองลำปาง

In [41]:
df3.tail()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
364273,2223431,2021-12-31,12_ธันวาคม,2021-12-30,หญิง,86.0,86.0,วัยผู้สูงอายุ,ปี,ปี,NaN,ไทย,ระนอง,ภาคใต้,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,ระนอง,ภาคใต้,NaN
364274,2223432,2021-12-31,12_ธันวาคม,2021-12-30,ชาย,73.0,73.0,วัยผู้สูงอายุ,ปี,ปี,NaN,ต่างชาติ,สตูล,ภาคใต้,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,สตูล,ภาคใต้,NaN
364275,2223433,2021-12-31,12_ธันวาคม,2021-12-30,ชาย,85.0,85.0,วัยผู้สูงอายุ,ปี,ปี,NaN,ต่างชาติ,ปทุมธานี,ปริมณฑล,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,ปทุมธานี,ปริมณฑล,NaN
364276,2223434,2021-12-31,12_ธันวาคม,2021-12-30,ชาย,30.0,30.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
364277,2223435,2021-12-31,12_ธันวาคม,2021-12-30,ชาย,25.0,25.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN

ตรวจสอบ shape ของแต่ data ที่ import เข้ามา

In [57]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(810104, 19)
(1042168, 19)
(364278, 19)

ทำการรวมทั้ง 3 file (3 DataFrame) เข้าเป็น 1 DataFrame

In [58]:
df4 = df1.append(df2)
df4.head()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
0,6886,2021-01-01,1_มกราคม,2020-12-31,หญิง,40.0,40.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,Cluster สมุทรสาคร,ติดเชื้อมาจากสถานที่ทำงาน,ปทุมธานี,ปริมณฑล,คลองหลวง
1,6887,2021-01-01,1_มกราคม,2020-12-31,หญิง,21.0,21.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,ปทุมธานี,ปริมณฑล,Cluster ระยอง,ติดเชื้อมาจากสถานที่ชุมชน,ปทุมธานี,ปริมณฑล,คลองหลวง
2,6888,2021-01-01,1_มกราคม,2020-12-31,หญิง,20.0,20.0,วัยรุ่น,ปี,ปี,Thailand,ไทย,นครปฐม,ปริมณฑล,สถานบันเทิง,ติดเชื้อมาจากสถานบันเทิง,นครปฐม,ปริมณฑล,สามพราน
3,6889,2021-01-01,1_มกราคม,2020-12-31,หญิง,47.0,47.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,สมุทรสาคร,ปริมณฑล,Cluster สมุทรสาคร,ติดเชื้อมาจากสถานที่ทำงาน,นครปฐม,ปริมณฑล,สามพราน
4,6890,2021-01-01,1_มกราคม,2020-12-31,หญิง,36.0,36.0,วัยผู้ใหญ่,ปี,ปี,Cambodia,ต่างชาติ,ปทุมธานี,ปริมณฑล,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,อาชีพเสี่ยง,กรุงเทพมหานคร,กรุงเทพมหานคร,สายไหม

In [59]:
df4.tail()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
1042163,1859153,2021-10-25,10_ตุลาคม,2021-10-24,ชาย,45.0,45.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042164,1859154,2021-10-25,10_ตุลาคม,2021-10-24,ชาย,31.0,31.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042165,1859155,2021-10-25,10_ตุลาคม,2021-10-24,ชาย,31.0,31.0,วัยผู้ใหญ่,ปี,ปี,NaN,ต่างชาติ,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042166,1859156,2021-10-25,10_ตุลาคม,2021-10-24,ชาย,24.0,24.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
1042167,1859157,2021-10-25,10_ตุลาคม,2021-10-24,ชาย,25.0,25.0,วัยผู้ใหญ่,ปี,ปี,NaN,ต่างชาติ,เชียงใหม่,ภาคเหนือ,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,เชียงใหม่,ภาคเหนือ,NaN

In [60]:
covid19Y64 = df4.append(df3)
covid19Y64.head()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
0,6886,2021-01-01,1_มกราคม,2020-12-31,หญิง,40.0,40.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,Cluster สมุทรสาคร,ติดเชื้อมาจากสถานที่ทำงาน,ปทุมธานี,ปริมณฑล,คลองหลวง
1,6887,2021-01-01,1_มกราคม,2020-12-31,หญิง,21.0,21.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,ปทุมธานี,ปริมณฑล,Cluster ระยอง,ติดเชื้อมาจากสถานที่ชุมชน,ปทุมธานี,ปริมณฑล,คลองหลวง
2,6888,2021-01-01,1_มกราคม,2020-12-31,หญิง,20.0,20.0,วัยรุ่น,ปี,ปี,Thailand,ไทย,นครปฐม,ปริมณฑล,สถานบันเทิง,ติดเชื้อมาจากสถานบันเทิง,นครปฐม,ปริมณฑล,สามพราน
3,6889,2021-01-01,1_มกราคม,2020-12-31,หญิง,47.0,47.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,สมุทรสาคร,ปริมณฑล,Cluster สมุทรสาคร,ติดเชื้อมาจากสถานที่ทำงาน,นครปฐม,ปริมณฑล,สามพราน
4,6890,2021-01-01,1_มกราคม,2020-12-31,หญิง,36.0,36.0,วัยผู้ใหญ่,ปี,ปี,Cambodia,ต่างชาติ,ปทุมธานี,ปริมณฑล,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,อาชีพเสี่ยง,กรุงเทพมหานคร,กรุงเทพมหานคร,สายไหม

In [61]:
covid19Y64.tail()

,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
364273,2223431,2021-12-31,12_ธันวาคม,2021-12-30,หญิง,86.0,86.0,วัยผู้สูงอายุ,ปี,ปี,NaN,ไทย,ระนอง,ภาคใต้,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,ระนอง,ภาคใต้,NaN
364274,2223432,2021-12-31,12_ธันวาคม,2021-12-30,ชาย,73.0,73.0,วัยผู้สูงอายุ,ปี,ปี,NaN,ต่างชาติ,สตูล,ภาคใต้,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,สตูล,ภาคใต้,NaN
364275,2223433,2021-12-31,12_ธันวาคม,2021-12-30,ชาย,85.0,85.0,วัยผู้สูงอายุ,ปี,ปี,NaN,ต่างชาติ,ปทุมธานี,ปริมณฑล,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,ปทุมธานี,ปริมณฑล,NaN
364276,2223434,2021-12-31,12_ธันวาคม,2021-12-30,ชาย,30.0,30.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
364277,2223435,2021-12-31,12_ธันวาคม,2021-12-30,ชาย,25.0,25.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN

ทำการ reset index หลังจากมีการรวมทั้ง 3 file (3 DataFrame) เข้าด้วยกันแล้ว

In [62]:
covid19Y64 = covid19Y64.reset_index()
covid19Y64

,index,No.,announce_date,announce_month,Notified date,sex,age,age_use,life_stages,Unit,Unit_year,nationality,group_nationality,province_of_isolation,region_of_isolation,risk,group_risk,province_of_onset,region_of_onset,district_of_onset
0,0,6886,2021-01-01,1_มกราคม,2020-12-31,หญิง,40.0,40.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,Cluster สมุทรสาคร,ติดเชื้อมาจากสถานที่ทำงาน,ปทุมธานี,ปริมณฑล,คลองหลวง
1,1,6887,2021-01-01,1_มกราคม,2020-12-31,หญิง,21.0,21.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,ปทุมธานี,ปริมณฑล,Cluster ระยอง,ติดเชื้อมาจากสถานที่ชุมชน,ปทุมธานี,ปริมณฑล,คลองหลวง
2,2,6888,2021-01-01,1_มกราคม,2020-12-31,หญิง,20.0,20.0,วัยรุ่น,ปี,ปี,Thailand,ไทย,นครปฐม,ปริมณฑล,สถานบันเทิง,ติดเชื้อมาจากสถานบันเทิง,นครปฐม,ปริมณฑล,สามพราน
3,3,6889,2021-01-01,1_มกราคม,2020-12-31,หญิง,47.0,47.0,วัยผู้ใหญ่,ปี,ปี,Thailand,ไทย,สมุทรสาคร,ปริมณฑล,Cluster สมุทรสาคร,ติดเชื้อมาจากสถานที่ทำงาน,นครปฐม,ปริมณฑล,สามพราน
4,4,6890,2021-01-01,1_มกราคม,2020-12-31,หญิง,36.0,36.0,วัยผู้ใหญ่,ปี,ปี,Cambodia,ต่างชาติ,ปทุมธานี,ปริมณฑล,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,อาชีพเสี่ยง,กรุงเทพมหานคร,กรุงเทพมหานคร,สายไหม
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2216545,364273,2223431,2021-12-31,12_ธันวาคม,2021-12-30,หญิง,86.0,86.0,วัยผู้สูงอายุ,ปี,ปี,NaN,ไทย,ระนอง,ภาคใต้,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,ระนอง,ภาคใต้,NaN
2216546,364274,2223432,2021-12-31,12_ธันวาคม,2021-12-30,ชาย,73.0,73.0,วัยผู้สูงอายุ,ปี,ปี,NaN,ต่างชาติ,สตูล,ภาคใต้,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,สตูล,ภาคใต้,NaN
2216547,364275,2223433,2021-12-31,12_ธันวาคม,2021-12-30,ชาย,85.0,85.0,วัยผู้สูงอายุ,ปี,ปี,NaN,ต่างชาติ,ปทุมธานี,ปริมณฑล,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,ปทุมธานี,ปริมณฑล,NaN
2216548,364276,2223434,2021-12-31,12_ธันวาคม,2021-12-30,ชาย,30.0,30.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN
2216549,364277,2223435,2021-12-31,12_ธันวาคม,2021-12-30,ชาย,25.0,25.0,วัยผู้ใหญ่,ปี,ปี,NaN,ไทย,กรุงเทพมหานคร,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,NaN

ตรวจสอบ shape ของ data ทั้งหมดที่ทำการรวมทั้ง 3 file (3 DataFrame) เข้าด้วยกันแล้ว

In [63]:
print(covid19Y64.shape)

(2216550, 20)

ตรวจสอบ Missing values ในแต่ละ columns

In [64]:
covid19Y64.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2216550 entries, 0 to 2216549
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   index                  int64
 1   No.                    int64
 2   announce_date          datetime64[ns]
 3   announce_month         object
 4   Notified date          datetime64[ns]
 5   sex                    object
 6   age                    float64
 7   age_use                float64
 8   life_stages            object
 9   Unit                   object
 10  Unit_year              object
 11  nationality            object
 12  group_nationality      object
 13  province_of_isolation  object
 14  region_of_isolation    object
 15  risk                   object
 16  group_risk             object
 17  province_of_onset      object
 18  region_of_onset        object
 19  district_of_onset      object
dtypes: datetime64[ns](2), float64(2), int64(2), object(14)
memory usage: 338.2+ MB

In [65]:
covid19Y64.count().to_frame()

                             0
index                  2216550
No.                    2216550
announce_date          2216550
announce_month         2216550
Notified date          2215743
sex                    2216550
age                    2216550
age_use                2216550
life_stages            2216550
Unit                   2216550
Unit_year              2216550
nationality            2004563
group_nationality      2216550
province_of_isolation  2216550
region_of_isolation    2216550
risk                   2215448
group_risk             2216550
province_of_onset      2216550
region_of_onset        2216550
district_of_onset      1854999

สนใจจำนวน sex ทั้งหมด เป็นหญิงเท่าไหร่ ชาย เท่าไหร่ และกี่ %

In [68]:
print(covid19Y64['sex'].value_counts())

หญิง    1139286
ชาย     1077264
Name: sex, dtype: int64

In [69]:
print(covid19Y64['sex'].value_counts(normalize=True))

หญิง    0.513991
ชาย     0.486009
Name: sex, dtype: float64

In [67]:
pd.concat([covid19Y64['sex'].value_counts().to_frame(), covid19Y64['sex'].value_counts(normalize=True).to_frame()], axis=1)

          sex       sex
หญิง  1139286  0.513991
ชาย   1077264  0.486009

สนใจจำนวน ยอดผู้ป่วย ในแต่ละเดือนมีจำนวนเท่าไหร่และกี่ %

In [78]:
print(covid19Y64['announce_month'].value_counts().sort_values(ascending=False))

8_สิงหาคม       607442
9_กันยายน       398746
7_กรกฎาคม       337986
10_ตุลาคม       308549
11_พฤศจิกายน    203848
12_ธันวาคม      107563
6_มิถุนายน       99509
5_พฤษภาคม        94639
4_เมษายน         36290
1_มกราคม         11898
2_กุมภาพันธ์      7169
3_มีนาคม          2911
Name: announce_month, dtype: int64

In [79]:
print(covid19Y64['announce_month'].value_counts(normalize=True).sort_values(ascending=False))

8_สิงหาคม       0.274048
9_กันยายน       0.179895
7_กรกฎาคม       0.152483
10_ตุลาคม       0.139202
11_พฤศจิกายน    0.091966
12_ธันวาคม      0.048527
6_มิถุนายน      0.044894
5_พฤษภาคม       0.042697
4_เมษายน        0.016372
1_มกราคม        0.005368
2_กุมภาพันธ์    0.003234
3_มีนาคม        0.001313
Name: announce_month, dtype: float64

In [80]:
pd.concat([covid19Y64['announce_month'].value_counts().sort_values(ascending=False).to_frame(), covid19Y64['announce_month'].value_counts(normalize=True).sort_values(ascending=False).to_frame()], axis=1)

              announce_month  announce_month
8_สิงหาคม             607442        0.274048
9_กันยายน             398746        0.179895
7_กรกฎาคม             337986        0.152483
10_ตุลาคม             308549        0.139202
11_พฤศจิกายน          203848        0.091966
12_ธันวาคม            107563        0.048527
6_มิถุนายน             99509        0.044894
5_พฤษภาคม              94639        0.042697
4_เมษายน               36290        0.016372
1_มกราคม               11898        0.005368
2_กุมภาพันธ์            7169        0.003234
3_มีนาคม                2911        0.001313

สนใจจำนวน life_stages แต่ละ life_stages มีจำนวนเท่าไหร่ และกี่ %

In [81]:
print(covid19Y64['life_stages'].value_counts().sort_values(ascending=False))

วัยผู้ใหญ่       1511619
วัยรุ่น           198333
วัยเด็ก           159650
วัยผู้สูงอายุ     139247
วัยสูงอายุ        125877
วัยทารก            81824
Name: life_stages, dtype: int64

In [82]:
print(covid19Y64['life_stages'].value_counts(normalize=True).sort_values(ascending=False))

วัยผู้ใหญ่       0.681969
วัยรุ่น          0.089478
วัยเด็ก          0.072026
วัยผู้สูงอายุ    0.062822
วัยสูงอายุ       0.056790
วัยทารก          0.036915
Name: life_stages, dtype: float64

In [83]:
pd.concat([covid19Y64['life_stages'].value_counts().sort_values(ascending=False).to_frame(), covid19Y64['life_stages'].value_counts(normalize=True).sort_values(ascending=False).to_frame()], axis=1)

               life_stages  life_stages
วัยผู้ใหญ่         1511619     0.681969
วัยรุ่น             198333     0.089478
วัยเด็ก             159650     0.072026
วัยผู้สูงอายุ       139247     0.062822
วัยสูงอายุ          125877     0.056790
วัยทารก              81824     0.036915

สนใจจำนวน onset แต่ละ region_of_onset มีจำนวนเท่าไหร่ และกี่ %

In [84]:
print(covid19Y64['region_of_onset'].value_counts().sort_values(ascending=False))

กรุงเทพมหานคร            464327
ปริมณฑล                  425532
ภาคใต้                   391939
ภาคตะวันออก              281114
ภาคตะวันออกเฉียงเหนือ    230957
ภาคกลาง                  216687
ภาคตะวันตก               142235
ภาคเหนือ                  63498
ไม่ระบุ                     261
Name: region_of_onset, dtype: int64

In [85]:
print(covid19Y64['region_of_onset'].value_counts(normalize=True).sort_values(ascending=False))

กรุงเทพมหานคร            0.209482
ปริมณฑล                  0.191979
ภาคใต้                   0.176824
ภาคตะวันออก              0.126825
ภาคตะวันออกเฉียงเหนือ    0.104197
ภาคกลาง                  0.097759
ภาคตะวันตก               0.064170
ภาคเหนือ                 0.028647
ไม่ระบุ                  0.000118
Name: region_of_onset, dtype: float64

In [86]:
pd.concat([covid19Y64['region_of_onset'].value_counts().sort_values(ascending=False).to_frame(), covid19Y64['region_of_onset'].value_counts(normalize=True).sort_values(ascending=False).to_frame()], axis=1)

                       region_of_onset  region_of_onset
กรุงเทพมหานคร                   464327         0.209482
ปริมณฑล                         425532         0.191979
ภาคใต้                          391939         0.176824
ภาคตะวันออก                     281114         0.126825
ภาคตะวันออกเฉียงเหนือ           230957         0.104197
ภาคกลาง                         216687         0.097759
ภาคตะวันตก                      142235         0.064170
ภาคเหนือ                         63498         0.028647
ไม่ระบุ                            261         0.000118

สนใจจำนวน isolation แต่ละ region_of_isolation มีจำนวนเท่าไหร่ และกี่ %

In [87]:
print(covid19Y64['region_of_isolation'].value_counts().sort_values(ascending=False))

กรุงเทพมหานคร            468460
ปริมณฑล                  395886
ภาคใต้                   392718
ภาคตะวันออก              279419
ภาคตะวันออกเฉียงเหนือ    261408
ภาคกลาง                  212395
ภาคตะวันตก               141898
ภาคเหนือ                  64149
ไม่ระบุ                     217
Name: region_of_isolation, dtype: int64

In [88]:
print(covid19Y64['region_of_isolation'].value_counts(normalize=True).sort_values(ascending=False))

กรุงเทพมหานคร            0.211346
ปริมณฑล                  0.178605
ภาคใต้                   0.177175
ภาคตะวันออก              0.126060
ภาคตะวันออกเฉียงเหนือ    0.117935
ภาคกลาง                  0.095822
ภาคตะวันตก               0.064018
ภาคเหนือ                 0.028941
ไม่ระบุ                  0.000098
Name: region_of_isolation, dtype: float64

In [89]:
pd.concat([covid19Y64['region_of_isolation'].value_counts().sort_values(ascending=False).to_frame(), covid19Y64['region_of_isolation'].value_counts(normalize=True).sort_values(ascending=False).to_frame()], axis=1)

                       region_of_isolation  region_of_isolation
กรุงเทพมหานคร                       468460             0.211346
ปริมณฑล                             395886             0.178605
ภาคใต้                              392718             0.177175
ภาคตะวันออก                         279419             0.126060
ภาคตะวันออกเฉียงเหนือ               261408             0.117935
ภาคกลาง                             212395             0.095822
ภาคตะวันตก                          141898             0.064018
ภาคเหนือ                             64149             0.028941
ไม่ระบุ                                217             0.000098

In [52]:
#ลอง groupby ดูเฉยๆๆ
#test = covid19Y64.groupby(['announce_date'])
#test.describe()

In [ ]:
##เอาๆๆ  df2.groupby(by=["announce_month","group_risk"]).announce_date.count().to_frame()

In [ ]:
#pd.options.display.max_rows = 999
#df4.groupby(by=["announce_month","group_risk"]).announce_date.count().to_frame()

In [ ]:
#covid19Y64.describe()